<link rel="stylesheet" href="/styles/about.css">

<div class="" id="navBar">
    <p id="list">
    <a href="/">Home</a>
    <a href="/projects/">Projects</a>
    <a href="/contact/">Contact</a></p>
</div>

<div class="container" id="imageData">
    <img id="img" src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/29542017_2104666712893390_1234563273700793675_n.jpg?_nc_cat=108&_nc_ht=scontent-sea1-1.xx&oh=79fa065ef18de66a7e29828df9241421&oe=5C67BE48" alt="profile Image">
    <div id="info">
        <p id="profName">Joshua Pearson</p>
        <p id="profTitle">Full-Stack Web Developer</p>
        <p id="profFacts">Project Management, Web development, Software Development, Sometimes Funny</p>
    </div>
</div>
<div class="container" id="about">
    <span id="aboutTitle">About MySelf:</span>
    <p id="aboutContent">After working many years in the food service industry I have decided that it's time for me to
       take a step in another direction, and that direction is in tech. I have always wanted to work in the tech field
       and after a web dev bootcamp at the university of washington that's exactly what I am doing!
</p>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/js/index.js"></script>