<link rel="stylesheet" href="/styles/about.css">

<div class="" id="navBar">
    <p id="list">
    <a href="/">Home</a>
    <a href="/projects/">Projects</a>
    <a href="/contact/">Contact</a></p>
</div>

<div class="container" id="imageData">
    <img id="img" src="https://avatars1.githubusercontent.com/u/40186686?s=460&v=4" alt="profile Image">
    <div id="info">
        <p id="profName">Joshua Pearson</p>
        <p id="profTitle">Full-Stack Web Developer</p>
        <p id="profFacts">Project Management, Web development, Software Development, Sometimes Funny</p>
    </div>
</div>
<div class="container" id="about">
    <span id="aboutTitle">About MySelf:</span>
    <p id="aboutContent">After working many years in the food service industry I have decided that its time for me to
        take a step in another direction, and that direction is in tech. I have always wanted to work in the tech field
        and after a web dev bootcamp at the university of washington thats exactly what I am doing!</p>
</div>