<link rel="stylesheet" href="/styles/contact.css">
<div class="" id="navBar">
    <p id="list">
    <a href="/about/">About</a>
    <a href="/projects/">Projects</a>
    <a href="/contact/">Contact</a></p>
</div>


<div class="" id="email">
 <h3 id="words">Send Me An Email: </h3>
<p id="boxIcon"><i class="fas fa-box-open"></i></p>
</div>

<div class="" id="git">
    <h3>Checkout My Github: </h3>
    <p id="gitIcon"><i class="fab fa-github"></i></p>
</div>

<div class="" id="link">
    <h3>View My LinkedIn: </h3>
    <p id="linkIcon"><i class="fab fa-linkedin"></i></p>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/js/index.js"></script>