<link rel="stylesheet" href="/styles/contact.css">
<div class="" id="navBar">
    <p id="list">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/projects/">Projects</a>
    </p>
</div>


{{!-- <div class="" id="email">
 <h3 id="words">Send Me An Email: </h3>
<p id="boxIcon"><a href="http://"><i class="fas fa-box-open"></i></a></p>
</div> --}}

<div class="" id="git">
    <h1>Checkout My Github: </h1>
    <p id="gitIcon"><a href="https://github.com/Pearsonj"><i class="fab fa-github"></i></a></p>
</div>

<div class="" id="link">
    <h1>View My LinkedIn: </h1>
    <p id="linkIcon"><a href="https://linkedin.com/in/joshua-pearson-81a497165"><i class="fab fa-linkedin"></i></a></p>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/js/index.js"></script>