<link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">

<header id="name">Joshua Pearson</header>
<div class="container" id="landingList">
  <ul id="directory">
    <li><a href="/about/">About</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/contact/">Contact</a></li>
  </ul>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/js/index.js"></script>