<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous">
<link rel="stylesheet" href="/styles/project.css">

<div class="" id="navBar">
    <p id="list">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
    </p>
</div>

<div class="container" id="project1">

  <div class="card" style="margin-top: 6px;">
    <img class="card-img-top topImg" src="/images/mario.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Let'sPlay</h5>
      <p class="card-text">This web application was made with the gamer in mind. This is a site that searches to match you up with friends to play games with that are simmilar to yourself. This project taught me a TON! I learned about user authentication, Working with code on the server side, and using MySQL as a database.</p>
      <a href="#">Go somewhere</a>
    </div>
  </div>

   <div class="card" style="margin-top: 6px;">
    <img class="card-img-top topImg" src="/images/mario.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Take A Hike!</h5>
      <p class="card-text">Here is my first real project. An app that maps out all of the hikes in the greater seattle area. I made this with two other class mates and I learned a lot about APIs and data flow in this project.</p>
      <a href="#">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="margin-top: 6px;">
    <img class="card-img-top topImg" src="/images/mario.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Zelda Rupees Game</h5>
      <p class="card-text">A little game made with JavaScript and jQuery. Try to match the score that is chosen randomly with Rupees that are also of a different value everytime you play!</p>
      <a href="#">Go somewhere</a>
    </div>
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="/js/index.js"></script>