.list-group-item {
    line-height: 2.5;
}

@media only screen and (max-width: 2200px) {

    html,
    body {
        margin: 0px;
        padding: 0px;

        background-image: url("../images/ai-blur-codes-577585.jpg");

        height: 100%;
        overflow-x: hidden;

        background-position: center;
        background-repeat: repeat-y;
        background-size: cover;
    }

    #navBar {
        font-size: 44px;
        margin-left: 61%;
        position: relative;
        bottom: 5%;
    }

    p {
        margin-left: 0px;
        text-decoration: none;
    }

    a {
        color: yellow;
        margin-right: 3%;
        text-decoration: none;
        font-family: 'Fugaz One', cursive;
        text-shadow: 4px 5px 5px red;
    }


    #email {
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;


    }

    #git {
        margin-top: 3%;
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
    }

    #link {
        margin-top: 3%;
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
    }

}

/* ------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1535px) {

    #navBar {
        font-size: 44px;
        margin-left: 61%;
        position: relative;
        bottom: 5%;
    }

    p {
        margin-left: 0px;
        text-decoration: none;
    }

    a {
        color: yellow;
        margin-right: 3%;
        text-decoration: none;
        font-family: 'Fugaz One', cursive;
        text-shadow: 4px 5px 5px red;
    }

    #email {
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;


    }

    #git {
        margin-top: 3%;
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
    }

    #link {
        margin-top: 3%;
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
    }


}


/* ------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1380px) {

    #navBar {
        font-size: 44px;
        margin-left: 61%;
        position: relative;
        bottom: 5%;
    }

    p {
        margin-left: 0px;
        text-decoration: none;
    }

    a {
        color: yellow;
        margin-right: 3%;
        text-decoration: none;
        font-family: 'Fugaz One', cursive;
        text-shadow: 4px 5px 5px red;
    }

    #email {
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;


    }

    #git {
        margin-top: 3%;
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
    }

    #link {
        margin-top: 3%;
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
    }


}


/* ------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 600px) {

    #navBar {
        font-size: 25px;
        margin-left: 13%;
        position: relative;
        bottom: 4%;
    }

    p {
        margin-left: 0px;
        text-decoration: none;
    }

    a {
        color: yellow;
        margin-right: 3%;
        text-decoration: none;
        font-family: 'Fugaz One', cursive;
        text-shadow: 4px 5px 5px red;
    }

    #email {
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
        color: white;
        font-family: 'Playball', cursive;
        text-align: center;
    }


    #git {
        margin-top: 3%;
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
        color: white;
        font-family: 'Playball', cursive;
        text-align: center;
    }

    #link {
        margin-top: 3%;
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
        color: white;
        font-family: 'Playball', cursive;
        text-align: center;
    }

}


@media only screen and (max-width: 400px) {

    #navBar {
        font-size: 25px;
        margin-left: 13%;
        position: relative;
        bottom: 4%;
    }

    p {
        margin-left: 0px;
        text-decoration: none;
    }

    a {
        color: yellow;
        margin-right: 3%;
        text-decoration: none;
        font-family: 'Fugaz One', cursive;
        text-shadow: 4px 5px 5px red;
    }

    #email {
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
        color: white;
        font-family: 'Playball', cursive;
        text-align: center;
    }

    #boxIcon {
        font-size: 118px;
        position: relative;
        bottom: 91px;
    }




    #git {
        margin-top: 3%;
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
        color: white;
        font-family: 'Playball', cursive;
        text-align: center;
    }

    #gitIcon {
        font-size: 118px;
        position: relative;
        bottom: 91px;
    }

    #link {
        margin-top: 3%;
        height: 33.3%;
        width: 95%;
        background-color: #0000007a;
        position: relative;
        left: 3%;
        color: white;
        font-family: 'Playball', cursive;
        text-align: center;
    }

    #linkIcon {
        font-size: 118px;
        position: relative;
        bottom: 91px;
    }
}